<div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="mesurmentsData">

      <!-- id Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <!-- data Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.date | date:'dd MMMM yyyy'}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} Kg</td>
      </ng-container>

      <!-- Delete button Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button
          (click)="openDeleteDialog(element._id)"
          
          mat-raised-button color="warn"
            >Delete</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15, 10, 5]" showFirstLastButtons></mat-paginator>
  </div>



</div>